{%  extends "accounts/base.html" %}
{% load i18n %}
{% load static %}
{% load staticfiles %}
{% block body_class %}gray-bg{% endblock %}
{%  block title %}Restableciendo Contraseña{%  endblock %}

{%  block content %}

  <div class="passwordBox animated fadeInDown">
        <div class="row">

            <div class="col-md-12">
                <div class="ibox-content">
                    <h2 class="font-bold">Restableciendo Contraseña</h2>
                    <p>
                       Le hemos enviado instrucciones por correo electrónico para configurar su contraseña a la dirección de correo electrónico que envió. Debería recibirlo en breve.
                    </p>
                </div>
            </div>
        </div>
        <hr/>

    </div>

{%  endblock %}
