{%  extends "accounts/base.html" %}
{% load i18n %}
{% load static %}
{% load staticfiles %}
{% block body_class %}gray-bg{% endblock %}
{% block title %}{% trans "Recuperar Contraseña" %}{% endblock %}

{%  block content %}


   <div class="passwordBox animated fadeInDown">
        <div class="row">

            <div class="col-md-12">
                <div class="ibox-content">

                    <h2 class="font-bold">Olvidé mi contraseña</h2>

                    <p>
                        Ingresa tu dirección de correo electrónico para enviarte un enlace de recuperación de contraseña
                    </p>

                    <div class="row">

                        <div class="col-lg-12">
                            <form class="m-t" role="form" method="post"> {%  csrf_token %}
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" placeholder="Correo Electronico" required="">
                                </div>
                                <button type="submit" class="btn btn-primary block full-width m-b">Enviar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>

    </div>

{%  endblock %}
