{% extends "accounts/base.html" %}
{% load i18n %}
{% load static %}
{% load staticfiles %}
{% block body_class %}gray-bg{% endblock %}
{% block title %}Resetear contraseña{% endblock %}

{% block content %}

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name">TM</h1>
            </div>
            {% if validlink %}
                <h2>Resetear contraseña</h2>
                <p>
                    Ingrese su nueva contraseña dos veces para que podamos verificar que la escribió correctamente
                </p>
                <form method="post">{% csrf_token %}
                    <div class="form-group">
                        <input type="password" name="new_password1" class="form-control" placeholder="Nueva contraseña"
                               required="">
                    </div>
                    <div class="form-group">
                        <input type="password" name="new_password2" class="form-control"
                               placeholder="Repetir nueva contraseña" required="">
                    </div>
                    <button type="submit" class="btn btn-primary block full-width m-b">Cambiar contraseña</button>

                </form>
            {% else %}
                <h2>Imposible resetear contraseña</h2>
                <p>
                    El enlace de restablecimiento de contraseña no es válido, posiblemente porque ya se ha utilizado.
                    Solicite un nuevo cambio de contraseña.
                </p>
                <a href="{%  url 'password_reset' %}">
                    <small>Restablecer contraseña</small>
                </a>

            {% endif %}
        </div>
    </div>
{% endblock %}
