{% extends "accounts/base.html" %}
{% load i18n %}
{% load static %}
{% load staticfiles %}
{% block body_class %}gray-bg{% endblock %}
{% block title %}Se ha cambiado la contraseña correctamente{% endblock %}

{% block content %}


    <div class="passwordBox animated fadeInDown">
        <div class="row">

            <div class="col-md-12">
                <div class="ibox-content">
                    <h2 class="font-bold">Se ha cambiado la contraseña correctammente</h2>
                    <p>
                       Ya puedes iniciar sesión nuevamente
                    </p>
                    <hr>
                    <a href="{{ login_url }}" class="btn btn-primary">Iniciar Sesión</a>
                </div>
            </div>
        </div>
        <hr/>

    </div>

{% endblock content %}
